.timeline {
  display: grid;
  grid-template-columns: 50px 1fr;
  text-align: center;
  align-items: center;
}

.time {
  font-size: var(--font-size-small);
}
.name {
  padding-right: 50px;
  padding-top: 10px;
  color: #282b38;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.11);
}
