.timeline {
  display: grid;
  grid-template-columns: 50px 1fr;
  text-align: center;
  align-items: center;
}

.time {
  padding: 5px 0;
  font-size: var(--font-size-small);
}
.name {
  padding: 10px 50px 3px 0;
  color: #282b38;
  /* box-shadow: 0 2px 1px rgba(50, 50, 93, 0.11); */
  border-bottom: var(--border-2);
}

.name div:last-child {
  font-size: var(--font-size-small);
  opacity: 0.5;
}

.empty-timeline {
  opacity: 0.3;
}
