.hidden {
  visibility: hidden;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* 화면 가로가 375px보다 커지면 히스토리 데이 코멘트 길이가 길어서 화면 벗어남. */
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 125px;
}

@keyframes rotationComponent {
  from {
    transform: rotateY(0deg) translateY(0px);
  }
  to {
    transform: rotateY(360deg) translateY(5px);
  }
}

.modal-title {
  margin-bottom: 7px;
}

.rotation-animation{
  animation: rotationComponent 2s ease-in-out infinite alternate;
}

.modal-window--title {
  text-align: center;
  width: 375px;
  margin-bottom: 10px;
  border-bottom: var(--border-2);
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.11);
}

.modal-close:hover,
.modal-open:hover {
  cursor: pointer;
}
