@import "reset.css";
@import "variables.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

@import "nav.css";
@import "calendar.css";
@import "main.css";
@import "modal.css";

body {
  width: 375px;
  padding-top: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color);
}
